.section-home> .btn {
    width: 20%;
  }
  
  .section-home {
    background-color: rgb(44, 126, 75);
    padding: 20% 10%;
    display: grid;
    text-align: center;
    color: rgb(250, 253, 224);
    align-items: center;
  }
  
  
  .section-home> h1 {
    font-size: 50px;
  }
  
  .section-home> p {
    line-height: 50px;
    padding: 30px;
  }
  
  .section-home> .btn {
    padding: 1.4rem 5rem;
  }